In [221]:
# Strings

In [222]:
# Strings can be enclosed inside single quote.
name = 'Danielle'

In [223]:
print(name)

Danielle

In [224]:
# Print the name variable's type
type(name)

str

In [225]:
# The value assigned to the variable name can be changed
name = 'Ryan'

In [226]:
print(name)

Ryan

In [227]:
name2 = 'Danielle'

In [228]:
print(name)

Ryan

In [229]:
print(name2)

Danielle

In [230]:
# Strings can also be enclosed inside double quotes.
string1 = "Welcome to Python Basics for Summer 2024"

In [231]:
# If a single quote will appear inside a string, it is common to use double quotes around the string.
string2 = "It's hot outside"

In [232]:
# It is possible to use an escape character (\) by adding it before a single quote inside a string that's wrapped in single quotes.
string3 = 'It\'s hot outside'

In [233]:
# The len() method may be called to get the total number of elements in a string.
print(len(string1))

40

In [234]:
# Get the element at the 0 index in string1.
print(string1[0])

W

In [235]:
# Use slice to get print the elements from index 3 to 7.
print(string1[3:8])

come

In [236]:
# Print the word Python from the string1 slice.
print(string1[11:18])

Python

In [237]:
# Get the last element in string1.
print(string1[-1])

4

In [238]:
# Print the element that's 6 indices away from the last element.
print(string1[-6])

r

In [239]:
# Use the split() method to convert a string to a list.
split_string = string1.split()

In [240]:
print(split_string)

['Welcome', 'to', 'Python', 'Basics', 'for', 'Summer', '2024']

In [241]:
# Use the upper() method to change a string's case to uppercase.
print(name.upper())

RYAN

In [242]:
# Use the lower() method ot change a string's case to lowercase.
print(name2.lower())

danielle

In [243]:
# Use the count() method to print the number of times 'e' appears in string1.
print(string1.count('e'))

3

In [244]:
# Use the startswith() method to confirm if string1 begins with 'a'.
print(string1.startswith('a'))

False

In [245]:
# Use the startswith() method to confirm if string1 begins with 'W'.
print(string1.startswith('W'))

True

In [246]:
# Print the type for split_string.
print(type(split_string))

<class 'list'>

In [247]:
# Lists

In [248]:
list1 = [1, 2, 3, 4, 5]

In [249]:
# Nested lists can appear inside a list.
list2 = [1, 2, [3,4], 5]

In [250]:
# Print the items that appears at the 2nd index of list1.
print(list1[2])

3

In [251]:
# Print the nested list in list2.
print(list2[2])

[3, 4]

In [252]:
# Print the number 3 from list2.
print(list2[2][0])

3

In [253]:
# Print the number 4 from list2.
print(list2[2][1])

4

In [254]:
# Slicing can also be used for lists.
print(list1[1:3])

[2, 3]

In [255]:
# Print the last item in list2.
print(list2[-1])

5

In [256]:
print(list2[-1])

5

In [257]:
# Multiple data types may be stored inside a list.
list3 = ['name', 'age', 3, 10]

In [258]:
# Assign a copy of list3 to list4.
list4 = list3

In [259]:
print(list4)

['name', 'age', 3, 10]

In [260]:
# Use the append method to add 20 to list4. List4 is not a new list, so appending 20 will change list3.
list4.append(20)
print(list4)

['name', 'age', 3, 10, 20]

In [261]:
print(list3)

['name', 'age', 3, 10, 20]

In [262]:
# It's best to slice the items in list3 to create a copy.
list5 = list3[:]

In [263]:
print(list5)

['name', 'age', 3, 10, 20]

In [264]:
# Use append to add 'josh' to list5. Since list5 is a new list, this change will not alter list3.
list5.append('josh')

In [265]:
print(list5)

['name', 'age', 3, 10, 20, 'josh']

In [266]:
print(list3)

['name', 'age', 3, 10, 20]

In [267]:
# Remove the last element from list5.
print(list5.pop())

josh

In [268]:
print(list5)

['name', 'age', 3, 10, 20]

In [269]:
# It is possible to specify the index of a list item to be removed in the pop() method.
print(list5.pop(2))

3

In [270]:
# Dictionary

In [271]:
dict1 = {"name": "Danielle", "city": "Atlanta", "role": "developer", "color": "blue"}

In [272]:
# Get the value mapped to the "name" key.
dict1["name"]

'Danielle'

In [273]:
# Get the value mapped to the "role" key.
dict1["role"]

'developer'

In [274]:
# Use the keys method to print all of the keys in dict1.
dict1.keys()

dict_keys(['name', 'city', 'role', 'color'])

In [275]:
# Use the keys method to print all of the values in dict1.
dict1.values()

dict_values(['Danielle', 'Atlanta', 'developer', 'blue'])

In [276]:
# Add a new key/value pair to dict1.
dict1["language"] = "python"

In [277]:
print(dict1)

{'name': 'Danielle', 'city': 'Atlanta', 'role': 'developer', 'color': 'blue', 'language': 'python'}

In [278]:
# Delete Atlanta from dict1.
del dict1["city"]

In [279]:
print(dict1)

{'name': 'Danielle', 'role': 'developer', 'color': 'blue', 'language': 'python'}

In [280]:
# Use the copy() method to create a copy of dict1 and assign it to dict2.
dict2 = dict1.copy()

In [281]:
print(dict2)

{'name': 'Danielle', 'role': 'developer', 'color': 'blue', 'language': 'python'}

In [282]:
# Add city to dict2.
dict2["city"] = "Atlanta"

In [283]:
print(dict2)

{'name': 'Danielle', 'role': 'developer', 'color': 'blue', 'language': 'python', 'city': 'Atlanta'}

In [284]:
# Tuples

In [285]:
# Tuples are similar to lists, but they are enclosed in parenthesis. They also cannot be modified.
tuple1 = ('a', 'b', 'c', 'd', 'e')

In [286]:
# Indexing also works with tuples.
tuple1[0]

'a'

In [287]:
# Get the last item in tuple1.
tuple1[-1]

'e'

In [288]:
# Slicing may also be used with tuples.
tuple1[1:2]

('b',)

In [289]:
tuple1[1:3]

('b', 'c')

In [290]:
# Sets

In [291]:
set1 = {1, 2, 3, 4, 4}

In [292]:
# Sets will only display unique values.
print(set1)

{1, 2, 3, 4}

In [293]:
# Functions

In [1]:
# Write a function that adds two numbers
def add_two(num1, num2):
    print(num1 + num2)

In [4]:
add_two(5, 4)

9

In [296]:
# A function without a return statement is called a void function
print(add_two(5, 40))

45
None

In [297]:
type(add_two(5, 40))

45

NoneType

In [298]:
# Write a function that multiplies two numbers
def multiply_two(num1, num2):
    return num1 * num2

In [299]:
multiply_two(4, 7)

28

In [300]:
print(multiply_two(4, 7))

28

In [301]:
# Number Types:
# Int (12)
# Float (12.75)

In [302]:
a = 3
b = 8

In [303]:
a*b

24

In [304]:
a + b

11

In [305]:
a / b

0.375

In [306]:
a - b

-5

In [307]:
5 * (a+b)

55

In [308]:
# Logical expressions

In [309]:
# Check if a is equal to b. Be sure to use == to check for equality.
a == b

False

In [310]:
a != b

True

In [311]:
a < b

True

In [312]:
a > b

False

In [313]:
a <= b

True

In [314]:
a >= b

False

In [10]:
# Use the modulous operator to check if a number is even. If the number is odd it should not have a remainder.
10 % 2 == 0

True

In [9]:
7 % 2 ==

0